li{
    list-style: none;
}
h2{
    margin: 0;
}
ul{
    padding-inline-start: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:black;
}
.login{
    width: 410px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.login h2{
    padding: 0 0 20px;
    font-size:32px;
    color:#111;
    border-bottom: 2px solid #111;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1;
}
.login li{
    padding: 0 0 12px;
}
.login li input{
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    text-indent: 16px;
}
.login li input::-webkit-input-placeholder{
    font-size:16px;
    color: #9fa19f;
    text-indent: 16px;
}
.login li input[type="checkbox"]{
   position: absolute;
   left: -3000%;
}
.login li input[type="checkbox"]+label {
    height: 36px;
    line-height: 36px;
}
.login li input[type="checkbox"] + label:before{
    display:inline-block;
    content:"";
    width: 18px;
    height: 18px;
    border:1px solid #666;
    background: white;
    vertical-align: -4px;
    margin:0 10px 0 0 ;
}
.login li input[type="checkbox"]:checked + label::before{
    background: url(./checkbox-1.PNG) no-repeat center #4d87ef; border-color: #4d87ef;
}
.login li button{
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: #4d87ef;
    color:white;
}

.login div{
    text-align: center;
    margin:20px;
}