section#notice,
section.notice-detail {
  width: 900px;
  margin: 0 auto;
}

#notice-search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
}
#notice-search i {
  position: absolute;
  right: 190px;
}
#notice-search input {
  border: 1px solid #e0e0e0;
  padding: 10px 15px 10px 40px;
}

.notice-box,
.notice-detail-wrapper {
  border-top: 1px solid rgb(56, 78, 117);
}
.notice-wrapper > li {
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.notice-wrapper > li:nth-child(1) span {
  color: rgb(56, 78, 117);
  font-weight: bold;
  text-align: center;
}
.notice-wrapper > li:nth-child(1) {
  display: flex;
}
.notice-wrapper > li a {
  display: flex;
}
.notice-wrapper > li span {
  text-align: center;
}
.notice-wrapper > li span:nth-child(1) {
  width: 60px;
}
.notice-wrapper > li span:nth-child(2) {
  flex: 1;
  text-align: start;
}
.notice-wrapper > li span:nth-child(3) {
  width: 170px;
}

.notice-wrapper > li span:nth-child(4) {
  width: 200px;
}

.notice-wrapper > li span:nth-child(1) {
  color: rgb(56, 78, 117);
}
input[type="radio"] {
  display: none;
}

#notice-page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin: 40px auto;
}

#notice-page-wrapper > label {
  margin: 0 10px;
  padding: 10px 10px 7px;
  cursor: pointer;
}
#notice-page-wrapper svg {
  cursor: pointer;
}

#notice-page-1:checked ~ label[for="notice-page-1"] {
  background-color: rgb(56, 78, 117);
  color: #ffffff;
}

#notice-page-2:checked ~ label[for="notice-page-2"] {
  background-color: rgb(56, 78, 117);
  color: #ffffff;
}
#notice-page-3:checked ~ label[for="notice-page-3"] {
  background-color: rgb(56, 78, 117);
  color: #ffffff;
}
#notice-page-4:checked ~ label[for="notice-page-4"] {
  background-color: rgb(56, 78, 117);
  color: #ffffff;
}
#notice-page-5:checked ~ label[for="notice-page-5"] {
  background-color: rgb(56, 78, 117);
  color: #ffffff;
}

/* detail */
.notice-detail-wrapper {
  margin-top: 40px;
}
.notice-detail-wrapper li {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.notice-detail-wrapper .notice-detail-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.notice-detail-info span {
  flex-basis: 50%;
}

.notice-detail-wrapper .notice-list-menu {
  display: flex;
  justify-content: flex-end;
  padding: 40px 10px;
}

.notice-detail-list > a {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.notice-detail-list > a > div {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  width: 80px;
}

.notice-detail-list > a > span {
  flex: 1;
}
