section#program-section {
  width: 900px;
  margin: 0 auto;
}

section#program-section .program-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.program-gallery .program-card {
  flex-basis: 32.5%;
  min-height: 450px;
  padding: 10px 0;
}

.program-card-comment > div {
  padding: 10px;
}
.card-comment-title {
  font-weight: bold;
}

.card-comment-date {
  color: rgb(247, 123, 52);
}
.card-comment-detail {
  font-size: 13px;
}
.program-card .go-detail {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
