.signUp-wrapper {
  position: relative;
  margin-top: 50px;
  border-top: 2px solid;
  border-bottom: 1px solid #e0e0e0;
}
.signUp-wrapper:before {
  content: "* 필수입력";
  position: absolute;
  left: 9px;
  top: -25px;
  font-size: 13px;
  color: rgb(247, 123, 52);
}
.signUp-wrapper li {
  display: flex;
  padding: 10px 20px;
}
.signUp-wrapper li:nth-child(1) input {
  padding: 10px;
}
/* dropdown */
.signUp-wrapper li:nth-child(1) .email-input {
  position: relative;
}
.signUp-wrapper li:nth-child(1) div label {
  padding: 10px 0;
  cursor: pointer;
}
.signUp-wrapper li:nth-child(1) div label:hover {
  color: #e0e0e0;
}
input[type="checkbox"] {
  display: none;
}
.email-input input[type="radio"] {
  display: none;
}
.dropdown-list {
  position: absolute;
  display: none;
  flex-direction: column;
  right: 270px;
  padding: 10px 13.5px;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
}

.signUp-wrapper li:nth-child(1) ~ li > div > input {
  width: 100%;
  padding: 10px;
}
.signUp-title {
  padding: 10px 0;
  width: 200px;
}
.signUp-title + div {
  flex: 1;
}
.required:before {
  position: absolute;
  left: 10px;
  content: "*";
  color: rgb(247, 123, 52);
}

#selection {
  position: relative;
  display: inline-block;
  padding: 8px 30.5px 8px 20px;
  border: 1px solid #e0e0e0;
}
#selection:after {
  position: absolute;
  bottom: 4px;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../img/ico_selectArr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signUp-wrapper textarea {
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}
.signUp-wrapper textarea:focus {
  outline: 1px solid black;
}

input:focus {
  outline: 1px solid black;
}
