* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.flex-box {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
}
.wrap-center {
  width: 1000px;
  margin: 0 auto;
}
header {
  position: relative;
  /* justify-content: center; */
  width: 100%;
  height: 400px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-title {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 0 auto;
  color: white;
}
span.orange {
  color: rgb(247, 123, 52);
}
.blue-btn {
  height: 35px;
  padding: 0 15px;
  line-height: 35px;
  background-color: rgb(56, 78, 117);
  color: #ffffff;
  cursor: pointer;
}
.black-btn {
  height: 35px;
  padding: 0 15px;
  line-height: 35px;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
}
.title {
  font-size: 18px;
}

.main-title {
  padding: 10px 0;
  border-bottom: 1px solid #ffffff;
}

.main-title span {
  font-size: 13px;
}

.header-title > span {
  margin: 10px 0;
}

header#notice {
  background-image: url(../img/img_top2.jpg);
}
header#mypage {
  background-image: url(../img/img_top5.jpg);
}
header#program {
  background-image: url(../img/img_top3.jpg);
}
