.section {
  width: 1000px;
  margin: 40px auto;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: "Noto Serif KR", serif;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
#quickLink {
  text-decoration: underline;
}
h1 {
  text-align: center;
  padding: 10px;
  font-family: "Jua", sans-serif;
}
img {
  width: 100%;
  height: 100%;
}

/* header */
.header-content {
  display: flex;
}
.header > h1 {
  border: 1px solid lightgray;
}

.header-content .img-wrapper {
  flex-basis: 50%;
  margin-right: 10px;
}

/* header right */
.detail-comment {
  flex-basis: 50%;
  padding: 10px;
}

/* header tag */
.tag > ul > li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid;
}
/* header price */
.header h2 {
  margin-top: 20px;
}
.price {
  border-top: 2px solid;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

.price > ul > li {
  display: inline-block;
}

/* header comment */
.header h3 {
  margin: 20px 0;
  color: cadetblue;
}

/* header selector */
.selector {
  margin: 20px 0;
}

#size {
  width: 465px;
  height: 40px;
}
.selector button {
  width: 465px;
  height: 40px;
  color: #fff;
  border: 1px solid #606060;
  border-bottom-color: #373d4b;
  background: #606060;
}
@media screen and (max-width: 640px) {
  .section {
    width: 600px;
  }
  .header-content {
    flex-direction: column;
  }
  .header-content .img-wrapper {
    margin-right: 0;
  }
  /* header selector */
  #size {
    width: 580px;
    height: 40px;
  }
  .selector button {
    width: 580px;
  }
}
/* article */
article {
  width: 1000px;
  margin: 20px auto;
}

@media screen and (max-width: 640px) {
  article {
    width: 600px;
  }
}
