/* header */
.header .img-wrapper {
  height: 670px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .header .img-wrapper {
    height: 280px;
  }
}

/* big-slider */
.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 71px;
  height: 71px;
  background: none;
  border: none;
}
.big-slider button:focus {
  outline: none;
}
.big-slider button:before {
  font-family: "xeicon";
  color: rgb(165, 175, 185);
  font-size: 30px;
}
.slick-prev {
  left: 50px;
  font-size: 0;
  color: transparent;
}
.slick-prev:before {
  content: "\e93d";
  font-family: "xeicon";
}
.slick-next {
  right: 50px;
  font-size: 0;
  color: transparent;
}
.slick-next:before {
  content: "\e940";
  font-family: "xeicon";
}

.big-slider ul {
  list-style: none;
  padding: 0;
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  justify-content: space-between;
  width: 100px;
}

.big-slider ul > li button {
  border-radius: 100%;
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}
.big-slider ul > li button:focus {
  background-color: #fff;
}

/* content */
.content {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  border-top: 0.5px solid lightgray;
  font-family: "S-CoreDream-2ExtraLight";
}
.img-wrapper > img {
  width: 100%;
  height: 100%;
}
.gallery {
  display: flex;
  flex-grow: 2;
  flex-basis: 100px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  border-right: 0.5px solid lightgray;
}

.card {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px 20px 0 0;
  padding: 5px;
  overflow: hidden;
}
.card:before,
.card:after {
  content: "";
  position: absolute;
  right: 70px;
  bottom: 70px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transform: scale(0);
}
.card:before {
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.card:after {
  background: ivory;
  transition: all 0.3s 0.2s;
}
.card.on:before,
.card.on:after {
  transform: scale(5);
}

.card > .img-wrapper {
  width: 200px;
  height: 200px;
}

/* .card-comment */
.card .card-comment {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 200px;
  bottom: 200px;
  padding: 30px;
  color: rgb(30, 50, 70);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s 0.4s;
}
/* hover 했을 때  .card-comment */
.card.on .card-comment {
  opacity: 1;
  z-index: 10;
}

/* aside */
.aside {
  flex-basis: 100px;
  flex-grow: 1;
  text-align: center;
}
.article-card {
  width: 200px;
  padding: 10px;
  margin: 20px auto 0 auto;
  border: 0.5px solid lightslategray;
}
.article-card > .img-wrapper {
  width: 200px;
  height: 200px;
}

.article-card > p {
  width: 200px;
  margin: 20px auto 0 auto;
}
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .card .card-comment {
    font-size: 12px;
  }
  .gallery {
    border-right: none;
    justify-content: center;
  }
  .aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .article-card {
    width: 150px;
    margin: 0;
    margin-bottom: 40px;
  }
  .article-card .img-wrapper {
    width: 150px;
    height: 200px;
  }
  .article-card p {
    width: 150px;
    font-size: 12px;
  }
}
