* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: "Noto Serif KR", serif;
  text-decoration: none;
}
a {
  color: black;
}

/* section */
#section {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}
