* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: "Noto Serif KR", serif;
  text-decoration: none;
}
a {
  color: black;
}

/* section */
#section {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}
#section h1 {
  text-align: center;
  margin: 40px auto;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-wrapper {
  width: 250px;
  height: 180px;
  margin: 20px;
}
img {
  width: 100%;
  height: 100%;
}
/* article */
article {
  padding: 20px;
}
article h3 {
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  #section {
    width: 600px;
    margin: 40px auto 0;
    padding: 10px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-wrapper {
    margin: 20px 0;
  }
  #section h1 {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  #section {
    width: 300px;
    margin: 20px auto 0;
    padding: 10px;
  }
}
