* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: "Noto Serif KR", serif;
  text-decoration: none;
}
a {
  color: black;
}

/* section */
#section {
  width: 1000px;
  margin: 40px auto;
  padding: 0;
}
/* table */
#section h1 {
  text-align: center;
  margin-bottom: 20px;
}
#section table {
  width: 1000px;
}
#section table td {
  text-align: center;
}
#section #profile {
  width: 259px;
  height: 300px;
}
#profile img {
  width: 100%;
  height: 100%;
}
#section table .name {
  width: 85px;
  height: 70px;
}
/* 화면 반 분할 */
@media screen and (max-width: 640px) {
  #section {
    width: 600px;
    margin: 40px auto;
    padding: 0px;
  }
  /* table */
  #section table {
    width: 600px;
    font-size: 12px;
  }
  #section table td {
    padding: 5px;
  }
  /* table profile */
  #section #profile {
    width: 155px;
    height: 200px;
    padding: 0;
  }
}
/* 모바일 */
@media screen and (max-width: 375px) {
  #section {
    width: 300px;
    margin: 20px auto 0;
    padding: 10px;
  }
  #section h1 {
    font-size: 18px;
  }
  /* table */
  #section table {
    width: 300px;
    font-size: 10px;
  }
  #section #profile {
    width: 75px;
    height: 160px;
  }
  #section table .birth {
    width: 60px;
  }
}
