@font-face {
  font-family: "S-CoreDream-2ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}
a {
  color: black;
}

/* wrap-center */
#wrap-center {
  width: 1000px;
  margin: 40px auto;
  padding: 0;
  font-family: "S-CoreDream-2ExtraLight";
}
/* table */
#wrap-center h1 {
  text-align: center;
  margin-bottom: 20px;
}
#wrap-center table {
  width: 1000px;
}
#wrap-center table td {
  text-align: center;
}
#wrap-center #profile {
  width: 259px;
  height: 300px;
}
#profile img {
  width: 100%;
  height: 100%;
}
#wrap-center table .name {
  width: 85px;
  height: 70px;
}
/* tablet 분할 */
@media screen and (max-width: 768px) {
  #wrap-center {
    width: 600px;
    margin: 40px auto;
    padding: 0px;
  }
  /* table */
  #wrap-center table {
    width: 600px;
    font-size: 12px;
  }
  #wrap-center table td {
    padding: 5px;
  }
  /* table profile */
  #wrap-center #profile {
    width: 155px;
    height: 200px;
    padding: 0;
  }
}
/* 모바일 */
@media screen and (max-width: 375px) {
  #wrap-center {
    width: 300px;
    margin: 20px auto 0;
  }

  /* table */
  #wrap-center table {
    width: 300px;
    font-size: 10px;
  }
  #wrap-center #profile {
    width: 75px;
    height: 160px;
  }
  #wrap-center table .birth {
    width: 60px;
  }
}

@media screen and (max-width: 425px) {
  #wrap-center {
    width: 400px;
  }
  #wrap-center h1 {
    font-size: 18px;
  }
  /* table */
  #wrap-center table {
    width: 400px;
  }
}
