#wrap-center {
  font-family: "S-CoreDream-2ExtraLight";
  width: 90%;
  margin: 0 auto;
  border: 1px solid;
}

header {
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
div.sign-up-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
div.sign-up-wrapper input {
  padding: 15px;
  font-weight: 200;
  font-size: 17px;
}

div.sign-up-wrapper input:focus {
  outline: none;
  border: 1px solid;
}

input[type="submit"] {
  display: inline-block;
  padding: 15px 0;
  border: none;
  background-color: #0f4c81;
  color: #fff;
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
}

.alert-msg {
  display: none;
  color: #0f4c81;
  font-size: 12px;
}
input[name="sign-up-check"] {
  display: none;
}

input[name="sign-up-check"]:checked + input.signUp-input {
  border: 1px solid;
}
