body{
    font-family: 'Roboto condensed',sans-serif;
    margin : 0;
    background: #343233;
}
.container{
    max-width:1200px;
    text-align: center;
    margin:  0 auto;
    padding: 0 3rem;
}
@media screen and (max-width : 580px){
    .container{
        padding: 0 2rem;
    }
}

h1,h2,h3{
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 8px;
}

h1{
    font-size: 54px;
    color : #FFD152;
}
h2{
    font-size:42px;
    color: #8D8273;
}
h3{
    font-size:28px;
    color: #8D8273;
}
h4{
    font-size:20px;
    color: #8D8273;
    font-weight: 400;
    margin-bottom: 0;
}
p{
    margin: 20px 0;
    color: #8D8273;
    line-height: 24px;
}
img{
    margin: 20px 0;
    width: 100%;
}

button{
    outline: none;
    border:none;
    margin:18px 0;
    padding: 20px 40px;
    background: #FFD152;
    font-family: 'Roboto condensed';
    color:#282627;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}
i{
    font-size: 42px;
    letter-spacing: 14px;
}

/* fixed navigation */

nav{
    height:60px;
    width:100%;
    background-color: #343233;
    position: fixed;
}
nav ul{
    display:inline;
}
nav li{
    display: inline;
    float: left;
}
nav a{
    display: inline-block;
    width: 100px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 20px 0 ;
    color :#8D8273;
    transition: 1s;
}
nav a:hover{
    columns: #6c6c66;
}
nav a#toggle-btn{
    display: none;
}
/*580px의 크기를 갖는 화면에서는 이렇게 보이게 설정 */
@media screen and (max-width : 580px){
    nav{
        height: auto;
        border-bottom: 0;
    }
    nav ul{
        display: none;
        height: auto;
    }
    nav li{
        width: 100%;
        float: left;
        position:relative;
    }
    nav a{
        text-align : left;
        width:  100%;
        text-indent: 25px;
        background: #282627;
        color:#8D8273;
    }
    nav a:hover{
        color:#6c6c66;
    }
    nav a#toggle-btn:after{
        content:"|||";               /* 석삼처럼 생긴 매뉴바 */
        transform : rotate(-90deg);
        width: 40px;
        height: 40px;
        display: inline-block;
        position: absolute;
        right:5px;
        top:20px;
    }
    nav a#toggle-btn{
        display: block;
        background: #282627;
        color:#8D8273;
        width: 100%;
        position: relative;
    }
    .menu:before, .menu:after{
        content:"";
        display: table;
    }
    .menu:after{
        clear:both;
    }
    .menu{
        zoom:1;
    }
    
}

.section-hero {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
.section-hero .container{
    margin-top: 34vh;
}

.section-hero h2{
    color: #8D8273;
}