.section {
  height: 100vh;
  padding-left: 13%;
  background-color: ivory;
  color: rgb(30, 50, 70);
}
.flex-box {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
.dis-hidden {
  visibility: hidden;
}
/* nav */
nav {
  position: fixed;
  z-index: 2;
  background-color: rgb(30, 50, 70);
  width: 10%;
  min-width: 93px;
  height: 100%;
  color: ivory;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

nav ul {
  width: 100%;
}
nav ul li {
  margin: 30px 0;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
nav i:hover,
nav ul li:hover {
  background-color: rgb(42, 70, 99);
}
/* nav mediaQuery */
@media screen and (max-width: 760px) {
  nav {
    min-width: 7%;
    width: auto;
  }
  nav ul {
    display: none;
  }
  nav .hidden {
    display: block;
  }
  nav .hidden.flex-box {
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s linear;
    width: 100%;
    align-items: center;
  }
  nav .menu i {
    margin-top: 20px;
    padding: 10px 0;
    font-size: 1.5em;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 5px;
  }
  nav .menu:hover .dis-hidden {
    display: block;
    visibility: visible;
  }

  nav .menu:hover {
    margin: 0 10px;
  }
}
/* first */
.first {
  justify-content: center;
  align-items: flex-end;
  letter-spacing: 10px;
}
/* main-title */
.first .main-title {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(30, 50, 70);
  margin-bottom: 30px;
}
.first h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
}
.first span {
  font-size: 1.5em;
}
@media screen and (max-width: 760px) {
  .first h1 {
    font-size: 1.5em;
    letter-spacing: 10px;
  }
}
/* second */

.second .sub-title {
  width: 250px;
  height: 270px;
}
/* row 1 */
.second .row1 {
  justify-content: space-around;
  margin: 75px 0 30px 0;
  color: rgb(30, 50, 70);
}
/* col 1 */
.second .row1 .introduce {
  justify-content: space-between;
  height: 270px;
}
.introduce span {
  font-size: 3rem;
}
/* col 2 */
.second .row1 .img-wrapper {
  height: 270px;
}

/* col 3 */
.second .row1 .skills {
  height: 270px;
  margin-left: 10px;
  justify-content: flex-end;
  font-family: "Nanum Gothic", sans-serif;
}
.second .row1 .skills .icon-box {
  flex-wrap: wrap;
  margin-top: 10px;
}

.icon-wrapper > i {
  margin-right: 10px;
}
@media screen and (max-width: 760px) {
  .second .row1 {
    margin: 50px 0 30px 0;
  }
  .second .row1 .introduce span {
    font-size: 1.5em;
    margin: 30px 0;
  }
}

@media screen and (max-width: 425px) {
  .second {
    height: 225vh;
  }
  .second .row1 {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .second .row1 .introduce {
    margin-right: 20px;
  }
  .second .row1 .skills {
    justify-content: center;
    margin: 0;
  }
  .second .row1 .sub-title {
    width: 140px;
  }
}

/* row 2 */
.second .row2,
.second .row3 {
  justify-content: space-around;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  margin-bottom: 50px;
}
.second .title {
  border-bottom: 1px solid;
  margin-bottom: 15px;
}
.second h3 {
  text-transform: uppercase;
}
/* col 1,2,3 */
.second .row2 .sub-title {
  cursor: pointer;
}

/* hidden */
.sub-title:hover .hidden {
  display: block;
  width: 300px;
}
#project-wrapper {
  width: 250px;
}
@media screen and (max-width: 760px) {
  .second .sub-title {
    width: 160px;
  }
  .sub-title:hover .hidden {
    font-size: 10px;
  }
  #project-wrapper {
    width: 160px;
  }
}
@media screen and (max-width: 425px) {
  .row2 {
    flex-direction: column;
  }
  .row2 .sub-title {
    width: 200px;
    height: 200px;
  }
  .row2 .sub-title .hidden p {
    width: 250px;
  }
  .sub-title:hover .hidden {
    font-size: 12px;
  }
  .row2 .sub-title .hidden {
    display: block;
  }
}
/* fourth */
.fourth {
  background-color: rgb(150, 170, 180);
  color: rgb(240, 240, 230);
}
